{% extends 'base.html.twig' %}
{% block title %} LogIn {% endblock %} 

{% block body %}
  <h1>Login to your account!</h1>

  {% form_theme form 'bootstrap_4_layout.html.twig' %}
  {{ form_start(form) }}
  {{ form_row(form.email, { 'attr': { 'placeholder': 'Enter Email' } }) }}  
  {{ form_row(form.password, { 'attr': { 'placeholder': 'Enter Password'}}) }}  
  <button type="submit" class="btn btn-success">Login</button>
  {{ form_end(form) }}
{% endblock %} 