{% extends 'base.html.twig' %} {% block body %}
<h1>Creation d'un article</h1>
{{ form_start(formArticle) }}
<div>
  <label>This is the Name</label>
  {{ form_widget(formArticle.name) }}
</div>
{{ form_end(formArticle) }}
{% endblock %}
